* {
	box-sizing: border-box;
}
html {
	min-height: 100%;
}
body {
	width: 100%;
	margin: 0px;
	background: #fff url('../img/bg-clover.png') repeat;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1100px;
	margin: 0 auto;
	box-shadow: 0px 0px 25px 5px #c23ab1;
	background-color: #fff;
}
main {
	display: flex;
	flex-direction: column;
}
h1 {
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 80px;
	text-transform: uppercase;
	color: #A03092;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 10px;

}
.logo-block {
	align-self: space-around;
}
.header {
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 25px;
	color: #a6ce3a;
	text-transform: uppercase;
	text-align: right;
	padding-right: 150px;
	margin-bottom: 50px;
	margin-top: -15px;
}
.navigation {
	padding: 0;
	margin: 0;
}
.navigation li {
	display: inline-block;
	list-style: none;
	padding: 0 15px;
}
.navigation a {
	position: relative;
	text-decoration: none;
	outline: none;
	color: #A03092;
	font-size: 25px;
	cursor: pointer;
	padding: 15px 0 5px 0;
}
.navigation a::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #a6ce3a;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s, transform 0.3s;
}
.navigation a:hover::after {
	opacity: 1;
	transform: translateY(0px);
}
.navigation .active::after {
	background-color: #A03092;
	opacity: 1;
	transform: translateY(0px);
}
.navigation .active {
	color: #AACB46;
}

h2 {
	display: inline-block;
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 40px;
/*	text-transform: uppercase;*/
	color: #A03092;
	text-align: left;
	padding: 15px 0 5px 15px;
	position: relative;
/*	margin-left: 15px;*/
}
 h3 {
 	margin: 0;
 }
/*h2::after {
	content: "";
	position: absolute;
	height: 4px;
	background-color: #a6ce3a;
	width: 100%;
	top: 100%;
	left: 0;
}*/
.map {
	align-self: center;
	margin: 20px;
}
.sorting-links {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: center;
	margin: 20px 15px 10px;
	padding: 15px;
	background-color: #e4f1c5;
	font-weight: bold;
}
.sorting-target {
	position: fixed;
}
.sorting-link {
	position: relative;
	text-decoration: none;
	color: #A03092;
	margin-right: 20px;
}
.sorting-link:hover::after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #a6ce3a;
	width: 100%;
	top: 100%;
	left: 0;
}
.sorting-target:not(:target) ~ .pharmacy {
	visibility: visible;
	display: flex;
}
.sorting-target:target ~ .pharmacy {
	display: none;
}
[id="tag:all"]:target ~ [data-tag~="all"],
[id="tag:spb"]:target ~ [data-tag~="spb"], 
[id="tag:region"]:target ~ [data-tag~="region"], 
[id="tag:vyborg"]:target ~ [data-tag~="vyborg"], 
[id="tag:kirishi"]:target ~ [data-tag~="kirishi"] {
	display: flex;
}
[id="tag:all"]:target ~ .sorting-links [href="#tag:all"],
[id="tag:spb"]:target ~ .sorting-links [href="#tag:spb"], 
[id="tag:region"]:target ~ .sorting-links [href="#tag:region"], 
[id="tag:vyborg"]:target ~ .sorting-links [href="#tag:vyborg"], 
[id="tag:kirishi"]:target ~ .sorting-links [href="#tag:kirishi"] {
	color: #a6ce3a;
	border-bottom: 2px dashed #A03092;
}

.pharmacy-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.pharmacy {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	flex-basis: 30%;
	outline: 2px solid #a6ce3a;
	position: relative;
	margin: 15px;
}
.pharmacy-info p {
	margin: 0;
}
.pharmacy-info a, .phone {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.pharmacy-contacts sup {
	font-size: 12px;
	text-decoration: underline;
}
.pharmacy-info {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-between;
	margin: 0;
	padding: 5px 15px;
}
.pharmacy-info .city {
	color: #A03092;
	font-weight: bold;
}
.pharmacy-info .district, 
.pharmacy-info .subway {
	font-size: 15px;
	padding-right: 15px;
}
.pharmacy-info .location {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.number {
	position: absolute;
	margin: 0;
	top: -2px;
	right: -2px;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	line-height: 35px;
	font-weight: bold;
	background-color: #a6ce3a;
	border-bottom-left-radius: 50%;
	color: #fff;
}
.pharmacy-info .hidden {
	display: none;
}
.pharmacy-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #a6ce3a;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	color: #fff;
	text-shadow: 0px 0px 15px #A03092;
}
.overlay:hover {
	opacity: 0;
}
.overlay ~ .number {
	background-color: #A03092;
}
.overlay.new {
 padding-top: 25px;
}

/* Футер переписать уже на флекс */

									/*---------Footer---------*/
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #e4f1c5;
	color: #A03092;
	font-weight: bold;
	margin: 20px 0 0 0;
/* 	text-shadow: 1px 0px 5px #A03092; */
}
.footer-phone {
	text-decoration: none;
	color: #A03092;
}

.contacts div {
	float: left;
	width: 33%;
	text-align: center;
}
.contacts li {
	list-style: none;
}
 .contacts a {
 	color: #A03092;
 	text-decoration: none;
 }
 .contacts .active {
 	color: #a6ce3a;
 	font-weight: bold;
 	text-shadow: 1px -1px 5px #fff;
 }

 												/*-------Promo-------*/
.promo {
	display: flex;
	align-self: center;
	margin: 10px auto;
}
												/* ---------Vacancy-------- */
.vacancy-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
/* 	flex-basis: 100%; */
}
.vacancy {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-around;
	flex-basis: 700px;
	border: 2px solid #A03092;
	position: relative;
	margin: 15px 0;
}
.vacancy .number {
	background-color: #A03092;
}
.vacancy-text {
	align-self: center;
}
.vacancy-text ul,
.vacancy-text p {
	margin: 5px;
}
.advantages {
	border-left: 2px solid #a6ce3a;
}
.vacancy-name {
	color: #A03092;
/* 	font-weight: bold; */
	font-size: 24px;
}
.vacancy-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.conditions, 
.advantages {
	padding: 15px;
	align-self: center;
	flex-basis: 50%;
}
.hr-contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
	border-top: 2px solid #a6ce3a;
}
.hr-contacts li {
	list-style: none;
}
/*.vacancy img {
	flex-basis: 250px;
}*/