* {
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0px;
}
.container {
	width: 956px;
	margin: 0 auto;
	outline: 2px solid red;
}
h1 {
	font-size: 45px;
	text-transform: uppercase;
	color: #A03092;
	text-align: center;
	margin: 0;
}
.header {
	font-size: 20px;
	color: #AACB46;
}
.navigation {
	padding: 0;
	margin: 0;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	text-decoration: none;
	color: #A03092;
	font-size: 20px;
	cursor: pointer;
	padding: 15px;
}
/*.logo {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #fff url('../img/clover.png');
}*/
.addresses td:first-child {
	color: red;
	font-weight: bold;
}