* {
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0px;
	background: #fff url('../img/bg-clover.png') repeat;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-size: 20px;
}
.container {
	width: 956px;
/*	height: 100%;*/
	margin: 0 auto;
	box-shadow: 0px 0px 25px 5px #c23ab1;
	background-color: #fff;
}
h1 {
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 80px;
	text-transform: uppercase;
	color: #A03092;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 10px;

}
.header {
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 25px;
	color: #a6ce3a;
	text-transform: uppercase;
	text-align: right;
	padding-right: 85px;
	margin-bottom: 50px;
	margin-top: -15px;
}
.navigation {
	padding: 0;
	margin: 0;
}
.navigation li {
	display: inline-block;
	list-style: none;
	padding: 0 15px;
}
.navigation a {
	position: relative;
	text-decoration: none;
	outline: none;
	color: #A03092;
	font-size: 25px;
	cursor: pointer;
	padding: 15px 0 5px 0;
}
.navigation a::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #a6ce3a;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s, transform 0.3s;
}
.navigation a:hover::after {
	opacity: 1;
	transform: translateY(0px);
}
.navigation .active::after {
	background-color: #A03092;
	opacity: 1;
	transform: translateY(0px);
}
.navigation .active {
	color: #AACB46;
}

h2 {
	display: inline-block;
	font-family: 'Cormorant', serif;
	font-weight: bold; 
	font-size: 40px;
/*	text-transform: uppercase;*/
	color: #A03092;
	text-align: left;
	padding: 15px 0 5px 15px;
	position: relative;
/*	margin-left: 15px;*/
}
/*h2::after {
	content: "";
	position: absolute;
	height: 4px;
	background-color: #a6ce3a;
	width: 100%;
	top: 100%;
	left: 0;
}*/

.pharmacy {
	display: flex;
	flex-direction: row;
	outline: 2px solid #a6ce3a;
	position: relative;
	margin: 15px;
}
.pharmacy-info p {
	margin: 0;
}
.pharmacy .pharmacy-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0 15px;
}
.pharmacy-info .city {
	color: #A03092;
	font-weight: bold;
}
.pharmacy-info .district, 
.pharmacy-info .subway {
/*	float: left;*/
	font-size: 15px;
	padding-right: 15px;
}

												/*-----Addresses table-----*/
.addresses {
	margin: 0 auto 20px;
	border-collapse: collapse;
}
.addresses td {
	text-align: left;
	padding: 10px;
	border: 2px solid #AACB46;
	border-collapse: collapse;
}
.addresses th {
		border: 2px solid #AACB46;
		font-size: 20px;
		padding: 10px;
}
.addresses .city {
	color: #A03092;
	font-weight: bold;
}
.addresses td:nth-child(3) {
	text-align: center;
}
.addresses a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.closed td {
	display: none;
}

												/*-------Promo-------*/
.promo {
	float: center;
	margin-left: 300px;
}
.footer-phone {
	text-decoration: none;
	color: #fff;
}
.contacts {
	background-color: #a6ce3a;
	color: #fff;
	margin: 0;
}
.contacts div {
	float: left;
	width: 33%;
	text-align: center;
}
.contacts li {
	list-style: none;
}
 .clearfix::after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .contacts a {
 	color: #fff;
 	text-decoration: none;
 }
 .contacts .active {
 	color: #A03092;
 	font-weight: bold;
 }
 h3 {
 	margin: 0;
 }
 .vacancy {
 	padding: 0 15px;
 	position: relative;
 	min-height: 200px;
 }
 .vacancy img {
 	position: absolute;
 }
 .vacancy p {
 	margin-left: 270px;
 }
